apparmor==2.13.4
appdirs==1.4.4
application-utility==1.3.2
asgiref==3.2.10
attrs==19.3.0
Automat==20.2.0
btrfsutil==1.2.0
CacheControl==0.12.6
catfish==1.4.13
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
constantly==15.1.0
contextlib2==0.6.0.post1
distlib==0.3.1
distro==1.5.0
Django==3.1
docopt==0.6.2
filelock==3.0.12
gufw==20.4.0
html5lib==1.1
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
install==1.3.3
keyutils==0.6
lensfun==0.3.95
LibAppArmor==2.13.4
libmsym==0.2.4
lightdm-gtk-greeter-settings==1.2.2
louis==3.14.0
menulibre==2.2.1
msgpack==1.0.0
mugshot==0.4.2
mysqlclient==2.0.1
npyscreen==4.10.5
ordered-set==4.0.2
packaging==20.4
pacman-mirrors==4.16.4
pep517==0.8.2
pexpect==4.8.0
Pillow==7.2.0
progress==1.5
psutil==5.7.2
ptyprocess==0.6.0
pwquality==1.4.2
pycairo==1.19.1
PyGObject==3.36.1
PyHamcrest==1.9.0
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
pysmbc==1.0.20
python-distutils-extra==2.39
pytoml==0.1.21
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
rados==2.0.0
rbd==2.0.0
reportlab==3.5.48
requests==2.24.0
resolvelib==0.4.0
retrying==1.3.3
rgw==2.0.0
sip==4.19.23
six==1.15.0
sqlparse==0.3.1
team==1.0
toml==0.10.1
Twisted==20.3.0
udiskie==2.2.0
ufw==0.36
urllib3==1.25.10
virtualenv==20.0.31
webencodings==0.5.1
zope.interface==5.1.0
