{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" defer
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" defer
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" defer
  crossorigin="anonymous"></script>
<!--Datatables-->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"
  defer></script>
<script src="{% static '/apps/customer/js/dashboard-table.js' %}" defer></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" defer></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
  defer></script>
<!--Bootstrap Stepper-->
<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js" defer></script>
{% endblock scripts%}

{% block stylesheets %}
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
<!--Datatables-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css" />
<!--Bootstrap Stepper 	-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css" />
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">


<!-- Your custom styles (optional) -->
<link rel="stylesheet" href="{% static 'apps/customer/css/style.css' %}" />
{% endblock %}

{% block title %} Customer Dashboard {% endblock title %}

{% block content %}

{% include 'navbar.html' %}

<!-- Start your project here-->
<!--Main content here-->
<main role="main" class="container">
  <h3 class="font-weight-bold mt-5">Customer Report Summary</h3>
  <p id="date_filter">
    <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date" type="text"
      id="datepicker_from" />
    <span id="date-label-to" class="date-label">To:<input class="date_range_filter date" type="text"
        id="datepicker_to" />
  </p>
  <div class="customer-table shadow rounded p-2">
    <table class="table data-table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Date Registered</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">City Address</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
        <tr class="rounded">
          <td>{{customer.date_registered}}</td>
          <td>{{customer.first_name}}</td>
          <td>{{customer.last_name}}</td>
          <td>{{customer.birth_date}}</td>
          <td>{{customer.city}}</td>
          <td>
            <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#customer{{customer.id}}" >
              View
            </button>
            <button class="btn-sm btn-danger text-white" data-toggle="modal" data-target="#delete" href="#">
              Delete
            </button>
          </td>
        </tr>
        <!-- View / Update Modal -->
        <div class="modal fade" id="customer{{customer.id}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Personal Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <form action="" method="POST" enctype="multipart/form-data">
              <input type="text" name="id" value="{{customer.id}}" hidden />
              <div class="modal-body">
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="col-md-4"></div>
                    <div class="col-4 d-flex justify-content-center">
                      <img src="{% if customer.profile_picture.url is not null %} {{ customer.profile_picture.url }} {% else %} ../../static/img/profile_pictures/customer_placeholder.png {% endif %}" class="form_profile-picture">
                    </div>
                    <div class="col-md-4"></div>
                  </div>
                  <div class="form-row m-4">
                    <div class="col-md-2"></div>
                    <div class="col-8 d-flex justify-content-center">
                      <input type="file" name="profile_picture" />
                    </div>
                    <div class="col-md-2"></div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-7">
                      <label for="first_name">First Name</label>
                      <input type="text" class="form-control" id="first_name" name="first_name"
                        placeholder="ex. Gilmar Dave" value="{{customer.first_name}}" pattern="[a-zA-Z][a-zA-Z ]{2,}" required/>
                    </div>
                    <div class="form-group col-md-5">
                      <label for="id_last_name">Last Name</label>
                      <input type="text" class="form-control" name="last_name" placeholder="ex. Gamboa"
                        value="{{customer.last_name}}" pattern="[a-zA-Z][a-zA-Z ]{2,}" required />
                    </div>
                  </div>
                  <h6>Complete Address</h6>
                  <div class="form-row">
                    <div class="form-group col-md">
                      <label for="id_street">Street</label>
                      <input type="text" class="form-control" name="street" placeholder="ex. 221B Baker Street"
                        value="{{customer.street}}" required />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="id_barangay">Barangay</label>
                      <input type="text" class="form-control" name="barangay" placeholder="ex. Bulacao"
                        value="{{customer.barangay}}" required />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="id_city">City</label>
                      <input type="text" class="form-control" name="city" placeholder="ex. Cebu City"
                        value="{{customer.city}}" required/>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-8">
                      <label for="id_province">Province</label>
                      <input type="text" class="form-control" name="province" placeholder="ex. Cebu"
                        value="{{customer.province}}" required />
                    </div>
                    <div class="form-group col-md-4">
                      <label for="id_zip_code">Zip Code</label>
                      <input type="number" class="form-control" name="zip_code" placeholder="ex. 6000"
                        value="{{customer.zip_code}}" maxlength="4" minlength="3" required />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md">
                      <label for="id_country">Country</label>
                      <select id="country" name="country" class="form-control" required>
                        {% load countries %}
                        {% get_countries as countries %}
                        {% for country in countries %}
                        <option value="{{ country.code }}" {% if country.code == customer.country %} selected="selected"
                          {% endif %}>{{ country.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md">
                      <label for="id_civil_status">Civil Status</label>
                      <select id="status" name="status" class="form-control" required>
                        {% for status in status_choices %}
                          <option value="{{status.0}}" {% if status.0 == customer.status %} selected {% endif %}>{{status.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md">
                      <label for="id_gender">Gender</label>
                      <select id="sex" name="gender" class="form-control" placeholder="{{customer.gender}}" required>
                        {% for gender in gender_choices %}
                          <option value="{{gender.0}}" {% if status.0 == customer.gender %} selected {% endif %}>{{gender.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="bdate">Birthdate</label>
                    <input type="date" class="form-control" id="bdate" name="birth_date"
                      value="{{customer.birth_date|date:"Y-m-d"}}" required>
                  </div>
                  <br>
                  <h6>If you're married, fill in spouse's information</h6>
                  <div class="spouse-available">
                    <div class="form-row">
                      <div class="form-group col-md">
                        <label for="id_spouse_name">Spouse's Full Name</label>
                        <input type="text" class="form-control" name="spouse_name"
                          placeholder="First Name, M.I, Last Name (ex. Jonathan Jubeth O.Gamboa)"
                          value="{{customer.spouse_name}}"/>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md">
                        <label for="id_spouse_occupation">Spouse's Occupation</label>
                        <input type="text" class="form-control" name="spouse_occupation"
                          value="{{customer.spouse_occupation}}" placeholder="ex. Engineer" pattern="[a-zA-Z][a-zA-Z ]{2,}"/>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md">
                        <label for="id_number_of_children">Number of Children</label>
                        <input type="number" class="form-control" name="number_of_children"
                          value="{{customer.number_of_children}}" placeholder="ex. 6" min="0"  required/>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md">
                      <label for="id_mother_name">Mother's Full Name</label>
                      <input type="text" class="form-control" name="mother_name"
                        placeholder="First Name, M.I, Last Name (ex. Jonathan Jubeth O.Gamboa)"
                        value="{{customer.mother_name}}" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md">
                      <label for="id_mother_occupation">Mothers's Occupation</label>
                      <input type="text" class="form-control" name="mother_occupation" placeholder="ex. Engineer"
                        value="{{customer.mother_occupation}}" pattern="[a-zA-Z][a-zA-Z ]{2,}" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md">
                      <label for="id_father_name">Father's Full Name</label>
                      <input type="text" class="form-control" name="father_name"
                        placeholder="First Name, M.I, Last Name (ex. Jonathan Jubeth O.Gamboa)"
                        value="{{customer.father_name}}" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md">
                      <label for="id_father_occupation">Father's Occupation</label>
                      <input type="text" class="form-control" name="father_occupation" placeholder="ex. Engineer"
                        value="{{customer.father_occupation}}" pattern="[a-zA-Z][a-zA-Z ]{2,}" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="id_height">Height</label>
                      <input type="number" class="form-control" name="height"
                        placeholder="Input in centimeters (ex. 170)" value="{{customer.height}}" min="0" required />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="id_weight">Weight</label>
                      <input type="number" class="form-control" name="weight" placeholder="Input in kilograms (ex. 65)" min="0"
                        value="{{customer.weight}}" required />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md">
                      <label for="id_religion">Religion</label>
                      <input type="text" class="form-control" name="religion" placeholder="ex. Roman Catholic"
                        value="{{customer.religion}}" pattern="[a-zA-Z][a-zA-Z ]{2,}" />
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-primary" id="btnUpdate">Update</button>
              </div>
            </form>
            </div>
          </div>
        </div>
        <!-- Delete Modal -->
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Do you really want to delete this particular record? This process
                cannot be undone.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Cancel
                </button>
                <button type="button" class="btn btn-danger">Confirm</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <a href="{% url 'customerRegistration' %}">
    <button type="submit" class="registration-button">
      +
    </button>
  </a>
</main>

<!-- End your project here-->
{% endblock %}