<!--Navigation bar here-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
	<div class="container d-flex justify-content-between">
		<a class="navbar-brand" href="#">dchandise</a>

		<div id="navbar">
			<ul class="navbar-nav">
				<li>
					<a class="nav-item nav-link" href="{% url 'customerDashboard' %}">
						Customer <span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Product
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href="{% url 'productDashboard' %}">Dashboard</a>
					  <a class="dropdown-item" href="{% url 'productOrder' %}">Order</a>
					</div>
				  </li>
			</ul>
		</div>
		<div id="navbar">
			<ul class="navbar-nav">
				<li>
					<a class="nav-item nav-link" href="{% url 'landingPage' %}">
						Logout
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!--End of Navigation Bar-->
